<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Desctiption:</strong>
    <%= book.desctiption %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= book.page %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

</div>
